<h1> Welcome! </h1>

<h3> Use the search form to find the top 3 youtube results. </h3>

<form method="get">
  <input type='text' name='search' />
  <input type='submit' value='Search!' />
</form>

<% if results %>
  <% results.each do |video| %>
    <iframe id="player" type="text/html" width="640" height="390"
    src="http://www.youtube.com/embed/<%=video['id']['videoId']%>"
    frameborder="0"></iframe>
  <% end %>
<% end %>
